<div class="space-80"></div>
<div class="container">
<h1>Edit Your Profile</h1>
<%= form_tag("/profile/#{@profile.id}", method: "patch") do %>
  <div class="container">
    <%= render 'form' %>
    <%= submit_tag("Update", class: "btn btn-primary btn-lg", style: "color:#FFF;") %>
  </div>
<% end %>
<img src="<%= @profile.photo.url %>">
</div>
