<div ng-controller="programCtrl" ng-init="home()">
  <div class="space-80"></div>
  <h1 class="text-blue" align="center">Current Programs</h1>
<div class="space-80"></div>
<div class='container'>
    <div class="row">
        <div class="col-md-9">
            <div class="causes-list-box" ng-repeat="program in programs | filter : filterName">
                <div class="row vertical-center">
                    <div class="col-sm-6">
                      <img ng-src="{{program.photo}}" alt="" class="img-responsive">
                    </div>
                    <!-- Add some padding here -->
                    <div class="col-sm-6">
                        <div class="causes-desc">
                            <h4><a href="/programs/{{program.id}}">{{program.name}}</a></h4>
                            <div class="progress clearfix">
                                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: {{(program.total_donated / program.donation_goal) * 100}}%"></div>
                            </div>
                            <div class="row causes-amount">
                                <div class="col-xs-6">
                                    <span>Start Date:</span>
                                    <h1>{{program.start_date | date:fullDate}}</h1>
                                </div>
                                <div class="col-xs-6">
                                    <span>End Date:</span>
                                    <h1>{{program.end_date | date:fullDate}}</h1>
                                </div>
                                <div>
                                  <div class="col-xs-6">
                                    <span>Raised</span>
                                    <h1>{{program.total_donated | currency: "$" : 2}}</h1>
                                </div>
                                  <div class="col-xs-6">
                                      <span>Goal:</span>
                                      <h1>{{program.donation_goal | currency: "$" : 2}}</h1>
                                  </div>
                                </div>
                            </div>
                            <h4>{{program.description}}</h4>
                            <a href="#" class="btn btn-theme-bg">Donate Now</a>
                            <% if current_user %>
                            <button ng-click="support(program)" class="btn btn-theme-bg">
                              <span ng-class="{'fa fa-lg fa-heart': program.liked, 'fa fa-lg fa-heart-o': !program.liked}">
                              </span>
                              Support
                            </button>
                            <button ng-click="volunteer(program)" class="btn btn-theme-bg">
                              <span ng-class="{'fa fa-lg fa-flag': program.volunteer, 'fa fa-lg fa-flag-o': !program.volunteer}">
                              </span>
                              Volunteer
                            </button>
                            <% end %>
                        </div>
                    </div>
                </div>
              </div>
              <!-- <nav aria-label="Page navigation" class=" text-right">
                <ul class="pagination">
                  <li >
                    <a href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li>
                    <a href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav> -->
            </div>
            <div class="col-md-3">
                    <div class="sidebar-widget search-widget">
                        <form>
                            <input type="text" ng-model="filterName" class="form-control" placeholder="Name search" >
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div><!--end sidebar widget-->
                  </div>
          </div>
        </div>
          <hr>
<footer id="footer" class="footer">
    <div class="container text-center text-copyright">
        <span>&copy; Helperhood</span>
    </div>
</footer>
