<div class="space-80"></div>
<div class="container">
  <div class="space-80">
  </div>
  <h1 class="text-blue" align="center">Your Programs</h1>
  <div class="space-80">
  </div>
  <div style="height: 100vh" ng-controller="programCtrl" ng-init="npMapIndex()">
    <div id="map">
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgvN0HEmd28jZo49zMfZbVj3U8NjpOB_s"
      async defer></script>
    </div>
  </div>
</div>
<div class="space-80"></div>
