<h1>ANGULAR --------------</h1>
<div ng-controller="programCtrl" ng-init="residentIndex()">
  <div ng-repeat="program in programs">
    <a href="/programs/{{program.id}}">{{program.name}}</a>
    <ul>
      <li>{{ program.address }}, {{ program.zipcode }}</li>
      <li ng-if="program.donation_goal != 0">
        Donation Goal: ${{ program.donation_goal }}
      </li>
      <li ng-if="program.donation_goal != 0">
        Total Donated: ${{ program.total_donated }}
      </li>
      <li ng-if="donation.donation_amount != null">
        {{ program.donation_amount }}
      </li>
      <li>Volunteering? {{ program.volunteer ? 'Yes' : 'No' }}</li>
      <i ng-click="support(program)" ng-class="{'fa-heart': program.liked, 'fa-heart-o': !program.liked}" class="fa fa-lg heart" aria-hidden="true"></i>
      <li>Start Date: {{ program.start_date }}</li>
      <li>End Date: {{ program.end_date }}</li>
    </ul>
  </div>
</div>
